*{
    box-sizing: border-box;
}

.carrossel{
   display: flex;
   width: auto;
   overflow-x: auto;
}
.carrossel>*{
    flex: none;
}
.items{
    width: 100%;
    height: 100%;
    display: flex;
}

.grid{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
}